<div class="alert_div">
  <% unless notice.blank? %>
    <div class="alert alert-success">
      <%= link_to 'x', '#', :class => "close", 'data-dismiss' => "alert" %>
      <%= notice  %>
    </div>
  <% end %>
  <% unless alert.blank? %>
    <p class="alert alert-danger">
       <%= link_to 'x', '#', :class => "close", 'data-dismiss' => "alert" %>
      <%= alert %>
    </p>
  <% end %>
</div>