<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1>College manegenment</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
			
       <li><%= link_to "Colleges", colleges_path %>
				<li><%= link_to "Branches", list_branches_branches_path %></li>
				<li><%= link_to "Students", list_students_students_path %></li>  
				<li class="divider"></li>
			
      </ul>
    </nav>
  </div>
</header>
